
.spotifySection {
  display: grid;
  grid-gap: 10px;
  place-items: center;
  padding-top: 200px;
  color: #fff;
}
.cardSpotify {
  max-width: 300px;
  border: 2px solid #fff;
  border-radius: 19px;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.spotify {
  border-radius: 18px;
  width: 100%;
}
.spotifyText {
  color: #1cd760;
  vertical-align: middle;
  padding: 5px;
}

.cardSpotify:hover,
.cardSpotify:focus,
.cardSpotify:active {
  color: #1cd760;
  border-color: #1cd760;
}