.spotifySection {
  margin: 0;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 19px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}
.spotify {
  border-radius: 18px;
  height: 100%;
  width: 100%;
}
.spotifyText {
  color: #1cd760;
}

.spotifySection:hover,
.spotifySection:focus,
.spotifySection:active {
  color: rgb(127, 106, 243);
  border-color: rgb(127, 106, 243);
}