
.welcomePage {
  height: 700px;
  color: #fff;
}
/* welcome text */
.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid #7f6af3;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: 
      typing 2.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  .welcome {
    color: #7f6af3;
  }
  .welcomeText {
    text-align: center;
  }
  .namePrimary {
    color: #7f6af3;
  }
  .nameSecondary {
    color: #FFCA57;
  }

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #7f6af3; }
}